body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff;
}

.wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.card{
  grid-column: 1/2;
  background-image: url(./assets/bg-main-desktop.png);
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.card-front{
  width:30vw;
  height: 30vh;
  background-image: url(./assets/bg-card-front.png);
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  left: 20%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
}

.circle{
  width: 90%;
  margin:10px auto;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle >div:first-child{
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
}

.circle >div:last-child{
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.card-details{
  padding: 20px;
}

.card-details >div:first-child {
  width: 100%;
  font-size: 20px;
  border: none;
  color: #ffffff;
  text-align: left;
  padding-bottom: 20px;
}

.card-details >div:last-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-back{
  width: 30vw;
  height: 30vh;
  background-image: url(./assets/bg-card-back.png);
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-back > span{
  color: #ffffff;
  margin-top: 8px;
  font-style: italic;
  text-align: right;
}

.form{
  grid-column: 2/4;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(279, 6%, 55%);
  height: 100%;
}

form{
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-top: 40px;
  margin-left: 100px;
}

form > div{
  text-align: left;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form > div > label{
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: bold;
}

form input{
  padding: 5px;
}

.card-date-cvc{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-date-cvc > div > label{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

.card-date-cvc div:first-child{
  width: 65%;
}

.card-date-cvc div:last-child{
  width: 30%;
}

.card-date-cvc div:last-child input{
  width: 100%;
}

#year{
  margin-left: 10px;
}

.sumbit-button{
  width: 100%;
}

.sumbit-button > input{
  width: 100%;
  margin: auto;
  background-color: hsl(278, 68%, 11%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.sumbit-button > input:hover{
  background-color: hsl(0, 3%, 77%);
  color: hsl(278, 68%, 11%);
}

@media screen and (max-width:680px) {
  .wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
  }

  .card{
    grid-column: 1/2;
    grid-row: 1/ span 1;
    background-image: url(./assets/bg-main-mobile.png);
    background-size: cover;
    position: relative; 
    display: flex;  
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .card-front{
    width: 45vw;
    min-width: 250px;
    height: 25vh;
    background-image: url(./assets/bg-card-front.png);
    background-size: cover;
    border-radius: 5px;
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 2;
  }
  
  .card-back{
    width:45vw;
    min-width: 250px;
    height: 25vh;
    background-image: url(./assets/bg-card-back.png);
    background-size: cover;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }

  .form{
    grid-column: 1/2;
    grid-row: 2/ span 2;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color: hsl(279, 6%, 55%);
  }

  form{
    margin-left: 0px;
  }
}